
<div class="home">
  <img class="logohp" src="/assets/img/hpl.png"alt="HP">
  <body>
    <header></header>

    <input type="checkbox" id="chk" />
    <label for="chk" class="menu-icon">&#9776;</label>

    <div class="bg"></div>
    <nav class="menu" id="principal">
      <ul>
        <li><a href="#" class="voltar">Voltar</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Personagens</a></li>
        <li><a href="#">Personagens Casas</a></li>
        <li><a href="#">Sobre</a></li>
      </ul>
    </nav>
  </body>
</div>
