<app-navbar></app-navbar>
<div class="about">
  <img  class="aboutimg"src="/assets/img/characters1.png" alt="">
  <p>Data de criação: 26 junho de 1997</p>
  <br />
  <p>
    "Harry Potter" é uma série de sete livros escritos por J.K Rowling, que
    foram adaptados em oito longas cinematográficos. Atualmente, todos os filmes
    de "Harry Potter" estão disponíveis no streaming na HBO Max. Para acompanhar
    a história, é preciso seguir a ordem cronológica dos lançamentos:
  </p>
  <br />
  <p>
    1. "Harry Potter e a Pedra Filosofal" (Livro lançado em 1997, filme lançado
    em 2001)
  </p>

  <p>
    2. "Harry Potter e a Câmara Secreta" (Livro lançado em 1998, filme lançado
    em 2002)
  </p>

  <p>
    3. "Harry Potter e o Prisioneiro de Azkaban" (Livro lançado em 1999, filme
    lançado em 2004)
  </p>

  <p>
    4. "Harry Potter e o Cálice de Fogo" (Livro lançado em 2000, filme lançado
    em 2005)
  </p>

  <p>
    5. "Harry Potter e a Ordem da Fénix" (Livro lançado em 2003, filme lançado
    em 2007)
  </p>

  <p>
    6. "Harry Potter e o Enigma do Príncipe" (Livro lançado em 2005, filme
    lançado em 2009)
  </p>

  <p>
    7. "Harry Potter e as Relíquias da Morte" (Livro lançado em 2007, 1º filme
    lançado em 2010)
  </p>

  <p>
    8. "Harry Potter e as Relíquias da Morte - Parte 2" (Filme lançado em 2011)
  </p>
  <br />
  <p>
    A história fala sobre o jovem órfão Harry Potter (Daniel Radcliffe), que
    descobre em seu aniversário de 11 anos que é um bruxo. Com ajuda de Hagrid
    (Robbie Coltrane), o menino vai para o mundo da magia, onde poderá estudar
    na Escola de Magia e Bruxaria de Hogwarts, na Inglaterra. Aos poucos, Harry
    percebe que é um nome muito famoso no universo, já que foi a única pessoa
    que sobreviveu ao feitiço da morte, o Avadakedavra.
  </p>
  <br />
  <br />
  <p>
    Quem tentou assassinar Harry foi Voldemort (Ralph Fiennes), um poderoso
    bruxo das trevas, que foi responsável pela morte de seus pais e de muitos
    bruxos que lutavam contra o seu domínio. Com ajuda de seus melhores amigos
    Hermione Granger (Emma Watson) e Rony Weasley (Rupert Grint) e do seu
    diretor e mentor, Alvo Dumbledore (Richard Harris / Michael Gambon), Harry
    deverá enfrentar Voldemort, que ao longo da história vai se tornando cada
    vez mais poderoso.
  </p>
  <br />
  <br />
  <p>
    Em Hogwarts, os bruxos de "Harry Potter" são divididos em quatro casas:
    Grifinória, Sonserina, Corvinal e Lufa-Lufa, em homenagem aos nomes dos
    quatro criadores da escola. Além disso, os jovens têm uniformes e varinhas
    próprias. Com o sucesso da saga, muitos fãs compraram réplicas dos objetos e
    "Harry Potter" tem até mesmo um parque temático em Orlando e Los Angeles.
    Com o fim da saga, novos filmes foram produzidos. Um deles é "Animais
    Fantásticos e Onde Habitam", baseado em livro publicado por J.K Rowling em
    2001, que seria um dos materiais didáticos de Hogwarts. A obra originou três
    filmes: "Animais Fantásticos e Onde Habitam" (2016), "Animais Fantásticos e
    os Crimes de Grindelwald" (2018) e "Animais Fantásticos e os Segredos de
    Dumbledore" (2022). Além disso, um roteiro de peça escrito por J. K.
    Rowling, Jack Thorne e John Tiffany foi publicado em 2016, sob o título
    "Harry Potter e a Criança Amaldiçoada".
  </p>
  <br />
  <br />
  <p>
    Em 1º de janeiro de 2022, a HBO Max lançou o especial "Harry Potter: 20 Anos
    de Magia - De Volta A Hogwarts" em homenagem a 20 anos do lançamento de
    "Harry Potter e a Pedra Filosofal". No longa documentário, grande parte do
    elenco original se reuniu para debater sobre suas experiências ao longo dos
    anos. Como nem tudo é perfeito, o universo de "Harry Potter" já se envolveu
    em muitas polêmicas também - em especial, a autora dos livros J.K Rowling.
    Em 2020, a artista questionou a existência de pessoas transgêneras, deixando
    a entender que o sexo de nascimento deve sempre ser levado em conta. Ela
    ainda comentou que os direitos trans poderiam entrar em conflito com os
    direitos das mulheres.
  </p>
  <br />
  <br />
  <p>
    A posição de J.K foi criticada e até mesmo atores dos filmes, como Emma
    Watson, saíram em defesa da comunidade LGBTQIAP+. A atriz foi ao Twitter
    falar que "pessoas trans são quem dizem ser" e que tem muito respeito e amor
    por todos que enfrentam esse preconceito.
  </p>
  <br />
</div>
